<h1>Coordinate Verification</h1>

<p>
  select a measurement kilometers or miles

  <select name="" id="" [formControl]="selection">
    <option value="kilometers">kilometers</option>
    <option value="miles">miles</option>
  </select>
</p>

<p>
  add distance to check in {{ selection.value }}

  <input type="number" [formControl]="distance" />
</p>
<h2>Distance = {{ distance.value }}</h2>

<p>
  add the longitude coordinate

  <input type="number" [formControl]="longitude" />
</p>
<h2>Longitude = {{ longitude.value }}</h2>
<p>
  add the latitude coordinate

  <input type="number" [formControl]="latitude" />
</p>
<h2>Latitude = {{ latitude.value }}</h2>

<p>
  Point radius in {{ selection.value }}

  <input type="number" [formControl]="radio" />
</p>
<h2>Point radius = {{ radio.value }}</h2>
<p>
  Number of points in the radius of the circle

  <input type="number" [formControl]="circlePoints" />
</p>
<h2>Circle Points = {{ circlePoints.value }}</h2>

<button (click)="saveCentroids()" [disabled]="existCentroids">
  Save Centroids
</button>
<!-- <button (click)="saveData2()">guardar2</button> -->
<button (click)="checkCentroids()">verificar Centroides</button>
<button (click)="insideThePolygon()">Verificar con DB de poligonos</button>
<!-- <button (click)="verificarPunto()">Verificar Punto</button> -->
<br />
<button (click)="savePoligons()" [disabled]="existPoligons">
  Save polygons
</button>

<div class="content">
  <div>
    <h2>near centroids</h2>
    <h3 id="timeCentroids"></h3>

    <code>
      <pre id="centroids"></pre>
    </code>
  </div>
  <div>
    <h2>nearby Polygons</h2>
    <h3 id="timePoligons"></h3>

    <code>
      <pre id="poligons"></pre>
    </code>

    <h2>Inside Polygon</h2>

    <code>
      <pre id="poligon"></pre>
    </code>
  </div>
  <div>
    <p id="normalPolygons"></p>
    <p id="morePolygons"></p>

    <p id="strangePolygons"></p>
    <p id="nullPolygons"></p>
  </div>
</div>
